@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Gentium+Plus&family=Spectral&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: 'Be Vietnam Pro', 'Poppins', sans-serif;
	height: 100vh;
}

body.theme-xuandieu {
	/* test Xuân Diệu */
	/* background-color: #a8dadc; */
	background: radial-gradient(ellipse, #ffafcc 0%, #a8dadc 30%);
}

body.theme-harrypotter {
	/* test HarryPotter */
	background: #360d0c;
}

.theme-harrypotter .goals {
	/* variables */
	--degree-bg: 111deg;
	--blend-left-color: #4d1a1d;
}

a {
	text-decoration: none;
	color: #000;
}

p {
	line-height: 1.7;
}

ul {
	list-style: none;
}

li {
	line-height: 2.2;
}

h1,
h2,
h3 {
	font-weight: 600;
	margin-bottom: 1rem;
}

.container {
	width: 100%;
	max-width: 9.6rem;
	/* cho có nhiều khoảng trống hạn chế breakline */
	max-width: 1060px;
	margin: 0 auto;
	padding: 0 2rem;
	text-align: center;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2rem 0;
	border-bottom: 1px solid #e6e6e6;
	margin-bottom: 6rem;
}

.header ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header ul li {
	margin-left: 2rem;
}

.header ul li a {
	display: flex;
	align-items: center;
}

.header ul li a:hover {
	color: #777;
}

.header ul li a svg {
	margin-right: 5px;
}

.heading {
	font-size: 2.4rem;
	font-weight: 600;
	margin-bottom: 5rem;
	padding: 0 2rem;
}

.heading .user-name {
	font-size: 140%;
	color: rgb(58, 121, 230);
}

.heading p {
	color: #a4a4a4;
}

.goals {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
}

.goal {
	background-color: #f4f4f4;

	margin: 1rem 0;
	position: relative;

	border-radius: 1rem;
}

.theme-xuandieu .goal {
	/* test Xuân Diệu */
	background-color: #fff9f1;

	/* border: solid 1px grey; */
	/* color: ; */
}

.theme-harrypotter .goal {
	display: flex;

	position: relative;
	overflow: hidden;
}

.theme-harrypotter .goal:not(:first-child)::after {
	content: '';

	/* position: absolute; */
	height: 100%;
	/* iphone 6 need fix */
	aspect-ratio: 1/1;
	background: red;
	background-size: contain;
	/* right: 0;
	top: 50%;
	transform: translateY(-50%); */

	box-shadow: -2px 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.theme-xuandieu .goal:first-child,
.theme-harrypotter .goal:first-child {
	/* test Xuân Diệu */
	grid-column: span 2;
}

.theme-harrypotter .goal:nth-child(2)::after {
	/* source: harrypotterfanzone.com */
	background-image: url('./assets/images/01_mirror-of-erised.jpg');
}
.theme-harrypotter .goal:nth-child(3)::after {
	/* source: deviantart.com.com */
	background-image: url('./assets/images/02_fawkes.jpg');
}
.theme-harrypotter .goal:nth-child(4)::after {
	/* source: minalima.com */
	background-image: url('./assets/images/03_time-turner.jpg');
}
.theme-harrypotter .goal:nth-child(5)::after {
	/* source: behance.net */
	background-image: url('./assets/images/04_goblet-of-fire.jpg');
}
.theme-harrypotter .goal:nth-child(6)::after {
	/* source: buzzfeed.com */
	background-image: url('./assets/images/05_prophency-ball.jpg');
}
.theme-harrypotter .goal:nth-child(7)::after {
	/* source: artstation.com */
	background-image: url('./assets/images/06_felix-felicis.jpg');
}
.theme-harrypotter .goal:nth-child(8)::after {
	/* source: deviantart.com */
	background-image: url('./assets/images/07_deathly-hallows.jpg');
}

.theme-harrypotter .goal:nth-child(1) {
	color: #fff;
	background: radial-gradient(
		circle,
		rgba(30, 3, 7, 1) 16%,
		rgba(47, 61, 19, 1) 20%,
		rgba(43, 1, 8, 1) 61%
	);
}
.theme-harrypotter .goal:nth-child(2) {
	background: linear-gradient(
		var(--degree-bg),
		var(--blend-left-color) 0%,
		#848484 100%
	);
}
.theme-harrypotter .goal:nth-child(3) {
	background: linear-gradient(
		var(--degree-bg),
		var(--blend-left-color) 0%,
		rgba(22, 7, 44) 100%
	);
}
.theme-harrypotter .goal:nth-child(4) {
	background: linear-gradient(
		var(--degree-bg),
		var(--blend-left-color) 0%,
		#c79a52 100%
	);
}
.theme-harrypotter .goal:nth-child(5) {
	background: linear-gradient(
		var(--degree-bg),
		var(--blend-left-color) 0%,
		#00726f 100%
	);
}
.theme-harrypotter .goal:nth-child(6) {
	background: linear-gradient(
		var(--degree-bg),
		var(--blend-left-color) 0%,
		#759fad 100%
	);
}
.theme-harrypotter .goal:nth-child(7) {
	background: linear-gradient(
		var(--degree-bg),
		var(--blend-left-color) 0%,
		#acb275 100%
	);
}
.theme-harrypotter .goal:nth-child(8) {
	background: linear-gradient(
		var(--degree-bg),
		var(--blend-left-color) 0%,
		#fff 100%
	);
}

.goal .number {
	font-family: 'Poppins';
	font-size: 80%;
}

.goal h2 {
	margin-top: 1rem;
	font-size: 2rem;
}

.theme-xuandieu .goal h2 {
	/* test Xuân Diệu */
	line-height: 1.2;
	font-weight: 400;
	font-family: Inconsolata, Bitter, Consolas;
}

.goal .close {
	position: absolute;
	top: 1rem;
	right: 1.5rem;
	cursor: pointer;
	border: none;
	background: none;
	opacity: 1;

	transition: all 0.3s;
}

.goal.close-hover,
.goal.removed-goal {
	box-shadow: inset 0 0 0 2px red;
	background-color: #f9f9f9;
}

.goal-content {
	/* use flex items' margin instead parents' padding */
	/* to ensure using flex items' size in percentage */
	/* flex box size = flex children(included its margin) */
	margin: 2rem 0 1rem;
}

.theme-harrypotter .goal-content {
	flex-grow: 1;
}

.goal.removed-goal .goal-content {
	opacity: 0;
}

.goal.close-hover .goal-content {
	color: rgba(128, 128, 128, 0.726);
}

.goal.close-hover .close {
	transform: scale(2) rotate(90deg);
	color: red;
}

.form,
.content {
	margin: 0 auto;
}
.form {
	width: 70%;
}
.content {
	width: 100%;
}

.form-group {
	margin-bottom: 1rem;
}

.form-group input,
.form-group textarea,
.form-group select {
	width: 100%;
	padding: 1rem;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	margin-bottom: 1rem;
	font-family: inherit;
}

.form-group label {
	text-align: left;
	display: block;
	margin: 0 0 5px 3px;
}

.btn {
	padding: 1rem 2rem;
	border: 1px solid #000;
	border-radius: 5px;
	background: #000;
	color: #fff;
	font-size: 1.6rem;
	font-weight: 700;
	cursor: pointer;
	text-align: center;
	appearance: button;
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn svg {
	margin-right: 8px;
}

.btn-reverse {
	background: #fff;
	color: #000;
}

.btn-block {
	width: 100%;
	margin-bottom: 2rem;
}

.btn:hover {
	transform: scale(0.98);
}

.loadingSpinnerContainer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 5000;
	display: flex;
	justify-content: center;
	align-items: center;
}

.loadingSpinner {
	width: 6.4rem;
	height: 6.4rem;
	border: 8px solid;
	border-color: #000 transparent #555 transparent;
	border-radius: 50%;
	animation: spin 1.2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@media (max-width: 768px) {
	html {
		font-size: 50%;
	}

	.form {
		width: 90%;
	}

	.heading h1 {
		font-size: 3.2rem;
	}

	.heading p {
		font-size: 2.4rem;
	}

	.goals {
		grid-template-columns: 1fr;
	}

	.theme-xuandieu .goal:first-child,
	.theme-harrypotter .goal:first-child {
		/* (default 'span 2' --> must turn off (if not the grid will 2 columns */
		grid-column: span 1;
	}

	.goal h2 {
		font-size: 1.6rem;
	}

	.goal .number {
		font-size: 1.2rem;
	}
}
